@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800;900&display=swap");

.main_container_soon {
  width: 100%;
  min-height: 100wh;
  padding: 1em;
  text-align: justify;
}

.main_container_soon h4{
  font-size: 40px;
  padding: 10px;
  font-weight: 600;
  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
 text-align: center;
 font-family: DM Sans,sans-serif;
 margin-bottom: 30px;
}

.main_box_soon {
  width: 100%;
  display: flex;
  align-items: center;
  grid-gap: 30px;
  padding: 2px 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.headings h5 {
  font-size: 36px;
  font-weight: 600;
  color: var(--primary-color);
  font-family: "Raleway", sans-serif;
  font-family: DM Sans,sans-serif;
  text-align: center;
  margin: 10px 0;
}

.left_section_box_soon p {
  font-size: 20px;
  font-weight: 400;
  color: var(--para-color);
  margin-bottom: 50px;
}

.right_section_box_soon img {
  width: 500px;
  object-fit: cover;
  margin-bottom: 20px;
}

/* .icons_container_footer {
  width: 100%;
  display: flex;
  align-items: center;
  grid-gap: 1px;
  justify-content: center;
} */

/* .icon1_footer {
  font-size: 40px;
  color: var(--white-color);
  color: rgb(180, 119, 237);
  color: var(--primary-color);
  transition: 0.2s all ease;
  margin-left: 10px;
  margin-right: 10px;
} */

/* .icon1_footer:hover,
.icon2_footer:hover,
.icon3_footer:hover,
.icon4_footer:hover,
.icon5_footer:hover {
  color: var(--background-secondary);
} */

/* .icon2_footer {
  font-size: 46px;
  color: var(--white-color);
  color: rgb(180, 119, 237);
  margin-left: 10px;
  margin-right: 10px;
} */

/* .icon3_footer {
  font-size: 46px;
  color: var(--white-color);
  color: rgb(180, 119, 237);
  color: var(--primary-color);
  margin-left: -3px;
  margin-left: 10px;
  margin-right: 10px;
} */

/* .icon4_footer {
  font-size: 52px;
  color: var(--white-color);
  color: rgb(180, 119, 237);
  color: var(--primary-color);
  margin-left: -7px;
  margin-left: 10px;
  margin-right: 10px;
} */

/* .icon5_footer {
  font-size: 44px;
  color: var(--white-color);
  color: rgb(180, 119, 237);
  color: var(--primary-color);
  margin-left: -6px;
  margin-left: 10px;
  margin-right: 10px;
} */

/* .icons{
display: flex;
flex-direction: column;
font-size: 40px;
text-align: center;
font-family: DM Sans,sans-serif;
color: var(--primary-color);
padding-top: 20px;
padding-bottom: 50px;
margin-top: 50px;
} */

@media screen and (max-width: 1200px) {
  .headings h5{
    margin-bottom: 100px;
    font-size: 32px;
  }
  .main_box_soon {
    flex-direction: column-reverse;
  }

  .left_section_box_soon {
    margin-top: -90px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right_section_box_soon {
    margin-top: -70px;
  }

  .left_section_box_soon h4 {
    font-size: 58px;
  }

  .left_section_box_soon p {
    text-align: center;
    font-size: 25px;
  }
  .icons{
    flex-direction: column;
  }
  .icons_container_footer{
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 720px) {
  .headings h5{
    margin-bottom: 100px;
    font-size: 32px;
  }
  .main_box_soon {
    padding: 0 20px;
  }

  .right_section_box_soon {
    width: 100%;
  }

  .right_section_box_soon img {
    width: 100%;
  }

  .left_section_box_soon p {
    font-size: 22px;
  }
  .icons{
    flex-direction: column;
  }
  .icons_container_footer{
    margin-bottom: 65px;
  }
}

@media screen and (max-width: 560px) {
  .main_box_soon {
    padding: 0;
  }
  .headings h5{
    margin-bottom: 100px;
    font-size: 32px;
  }

  .left_section_box_soon {
    padding: 0 15px;
    margin-top: -70px;
  }

  .right_section_box_soon {
    margin-top: -50px;
  }
  .icons{
    flex-direction: column;
  }
  .icons_container_footer{
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 460px) {

  .main_container_soon{
    flex-direction: column;
  }
  .headings h5{
    margin-bottom: 70px;
    font-size: 32px;
  }
  .main_box_soon{
    display: flex;
    flex-direction: column;
  }

  .right_section_box_soon {
    flex-direction: column;
  }

  .left_section_box_soon p {
    font-size: 20px;
  }
  .icons{
    flex-direction: column;
  }
  .icons_container_footer{
    margin-bottom: 55px;
  }
}
