@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");

.main_signup {
  display: flex;
}

.left-part_signup {
  width: 45%;
  /* height: 100vw; */
  min-height: 92vh;
  background-color: var(--background-secondary);
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.right-part_signup {
  width: 55%;
  height: 100%;
  min-height: 92vh;
  padding: 30px 60px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.left-part_signup .top_signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.left-part_signup .top_signup h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.52rem;
  font-weight: 900;
  color: var(--black-color);
}

.left-part_signup .top_signup p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.043rem;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: var(--para-color);
  text-align: center;
}

.signup-banner_signup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 -10px 0;
}

.signup-banner_signup img {
  width: 100%;
}

.social_signup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px
}

.social-logo_signup {
  width: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.social-logo_signup:nth-child(3) {
  width: 30px;
}

.social-logo_signup img {
  width: 100%;
  height: 100%;
}

.form-container_signup {
  width: 100%;
  border: 1px solid var(--input-border);
  border-radius: 10px;
  padding: 35px 45px;
}

.right-part_signup .top_signup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-part_signup .top_signup h2 {
  font-size: 1.35rem;
  color: var(--black-color);
}

.right-part_signup .top_signup a {
  font-weight: 700;
  font-size: 0.905rem;
  text-decoration: underline;
  color: var(--primary-color);
  cursor: pointer;
}

.right-part_signup .top_signup a:hover {
  color: var(--primary-light);
}

.line_signup {
  width: 100%;
  height: 1px;
  background-color: var(--input-border);
  margin: 15px 5px;
}

.main-msg_signup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-secondary);
  border-radius: 5px;
}

.main-msg_signup p {
  font-size: 18px;
  font-weight: 500;
  color: var(--warning-color);
}

.mid-part_signup {
  width: 100%;
  margin-top: 20px;
}

.form-main-box_signup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.form-main-box_signup > .form-box_signup {
  display: flex;
  flex-direction: column;
}

.box1_signup {
  grid-area: 1 / 1 / 2 / 2;
}
.box2_signup {
  grid-area: 1 / 2 / 2 / 3;
}
.box3_signup {
  grid-area: 2 / 1 / 3 / 2;
  position: relative;
}
.box4_signup {
  grid-area: 2 / 2 / 3 / 3;
}
.box5_signup {
  grid-area: 3 / 1 / 4 / 3;
}
.box6_signup {
  grid-area: 4 / 1 / 5 / 3;
}

.hide_password_signup {
  cursor: pointer;
  position: absolute;
  width: 20px;
  right: 10px;
  top: 38px;
  font-size: 20px;
  color: var(--para-color);
}

.box7_signup {
  grid-area: 5 / 1 / 6 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: -35px;
}

.box7_signup div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box7_signup span {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: -0.02em;
  margin-left: 10px;
  color: var(--black-color);
}

.box7_signup a {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: var(--primary-dark);
}

.box7_signup input[id="cb1"] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 5px;
  cursor: pointer;
}
.box7_signup input[id="cb1"]:checked + label:after {
  position: relative;
  top: -3px;
  left: 2px;
  content: "\2714";
  color: var(--para-color);
  font-size: 14px;
  font-weight: 800;
}
.box7_signup input[id="cb1"] {
  display: none;
}

.form-box_signup label {
  font-weight: 700;
  color: var(--para-color);
  font-size: 1rem;
  margin-left: 2px;
}

.form-box_signup input {
  outline: none;
  padding: 12px 10px;
  width: 100%;
  border: 1px solid var(--input-border);
  color: var(--input-color);
  border-radius: 5px;
  font-size: 1rem;
  margin: 3px 0;
  transition: 0.1s;
  background-color: var(--header-bg);
}

.form-box_signup input:hover {
  border: 1px solid var(--input-hover);
}

.form-box_signup input:focus {
  border-color: var(--input-focus);
}

input.active:focus {
  border-color: var(--warning-color);
}

.errors-msg_signup {
  color: var(--warning-color);
  font-size: 16px;
}

.create-btn_signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 6px 20px 6px 16px;
  width: 100%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 700;
  background-color: var(--create-btn);
  color: var(--white-color);
  cursor: pointer;
  font-style: normal;
  transition: 0.1s;
  white-space: nowrap;
}

.create-btn_signup:hover {
  background-color: var(--create-btn-hover);
}

.create-btn-logo_signup {
  color: var(--white-color);
}

.bottom-part_signup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.bottom-part_signup p{
  font-size: 16px;
  color: var(--black-color);
}

.bottom-part_signup a{
  font-size: 16px;
  font-weight: 700;
  color: var(--black-color);
}

@media screen and (max-width: 1110px) {
  .right-part_signup {
    padding: 30px 40px;
  }

  .form-container_signup {
    padding: 30px;
  }
}

@media screen and (max-width: 960px) {
  .left-part_signup {
    display: none;
  }

  .right-part_signup {
    width: 100%;
  }

  .box7_signup {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 660px) {
  .form-main-box_signup {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .right-part_signup {
    padding: 30px 10px;
  }
}

@media screen and (max-width: 480px) {
  .form-container_signup {
    padding: 10px;
    border: none;
  }
}